.card-on-table {
  width: 12.5%;
  transform-origin: 50% 0%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 0;
  pointer-events: none;
  top: 50%;
  --rotateCardBottom: 5deg;
  --rotateCardLeft: 85deg;
  --rotateCardTop: 173deg;
  --rotateCardRight: 273deg;
  --zIndexCardBottom: -5;
  --zIndexCardLeft: -5;
  --zIndexCardTop: -5;
  --zIndexCardRight: -5;
  --translateCardBottom: 7.5%;
  --translateCardLeft: 5.5%;
  --translateCardTop: 17.5%;
  --translateCardRight: 23.5%;
}

#hand {
  z-index: 100;
  display: flex;
  justify-content: center;
}

#card-right {
  transform: rotateZ(var(--rotateCardRight)) translateY(var(--translateCardRight));
  z-index: var(--zIndexCardRight);
}

#card-left {
  transform: rotateZ(var(--rotateCardLeft)) translateY(var(--translateCardLeft));
  z-index: var(--zIndexCardLeft);
}

#card-bottom {
  transform: rotateZ(var(--rotateCardBottom)) translateY(var(--translateCardBottom));
  z-index: var(--zIndexCardBottom);
}

#card-top {
  transform: rotateZ(var(--rotateCardTop)) translateY(var(--translateCardTop));
  z-index: var(--zIndexCardTop);
}

.game {
  max-width: 150vh;
}

@media only screen and (max-width: 576px) {
  .game {
    min-width: 100%;
  }
}

.float-box {
  width: max-content;
  height: max-content;
  text-align: center;
  background-color: rgba(180, 180, 180, 0.8);
  color: black;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
}

.active-player {
  background-color: rgba(255, 80, 0, 0.8);
}

#player-right {
  max-width: 30%;
  width: auto;
  transform: translateY(-50%);
  left: auto;
  z-index: 50;
}

#player-left {
  max-width: 30%;
  width: auto;
  transform: translateY(-50%);
  right: auto;
  z-index: 50;
}

#player-bottom {
  max-width: 30%;
  width: auto;
  top: auto;
  bottom: 5px;
  pointer-events: all;
  z-index: 50;
}

#player-top {
  max-width: 30%;
  width: auto;
  top: 5px;
  z-index: 50;
}

#player-left-name {
  margin-right: 5px;
}

#player-right-name {
  margin-left: 5px;
}

#player-top-name {
  margin-bottom: 5px;
}

#player-bottom-name {
  margin-top: 5px;
}

#game-info {
  right: auto;
  top: 5px;
  margin-left:0;
  max-width: 30%;
  white-space: pre; /* required for newline in textConent */
  text-align: left;
  font-size: small;
  max-height: calc(50% - 1.7rem);
  overflow: auto !important; /* add scrollbar */
  pointer-events: auto !important; /* required to make scrollbar actually work */
}

#take-trick-btn {
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
  pointer-events: all;
  position: absolute;
  z-index: 60;
  opacity: 0.75;
}

#take-trick-btn-content {
  margin: auto;
  text-align: center;
  font-size: 1vw;
  line-height: 1.3vw;
}

#announceModal, #knockModal {
  position: absolute;
  width: 25vw;
  left: 25vw;
  bottom: 20vw;
  top: auto;
  height: auto;
}